<!DOCTYPE html>
<html ng-app = "main">
  <head>
    <meta charset="utf-8">
    <title>GitFit Schedule</title>
    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../vendors/daypilot-all.min.js" charset="utf-8"></script>
    <script src="../scripts/script.js" charset="utf-8"></script>
    <script>

</script>
  </head>
  <body>
    GitFit!
    <form action="backend_events.php" method="post">


    <div ng-controller="DemoCtrl">


    <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" >Calender here</daypilot-calendar>
    </div>
      </form>
  </body>
</html>
