<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app = "main">
  <head>
    <meta charset="utf-8">
    <title>GitFit Schedule</title>
    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../vendors/angular-material.js" charset="utf-8"></script>

    <script src="../vendors/daypilot-all.min.js" charset="utf-8"></script>
    <script src="../vendors/daypilot-modal-2.5.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../vendors/bootstrap.min.js" media="screen" title="no title" charset="utf-8">
    <script src="../vendors/jquery.min.js" charset="utf-8"></script>
    <script src="../scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../styles/ltop.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../style/style.css" media="screen" title="no title" charset="utf-8">
    <script>

</script>
  </head>
  <body>




    <div ng-controller="CalendarCtrl as calendar" ng-init="getEvents()">


<div id="dp"></div>

<div ng-controller="MyCtrl">
  <nav class="navbar navbar-inverse">
    <img src="../views/GitFit-logoIcon.png" alt="" />
    <tab class="workoutbtn " ng-click='toggleModal()'>Add New Workout</tab>
    <!-- <img src="../views/logoplusicon.png" alt="" /> -->
    <tab class="schedulebtn " ng-click='toggleModal2()'>Add Schedule</tab>

<div class="logout">
  <p>
    Logout
  </p>
</div>
  </nav>
<modal-dialog show='modalShown' width='750px' height='70%'>
<header class="header">
    <h2>Add New Workout</h2>
</header>

    <form class="" action="index.html" method="post">


  <!-- //stretch= put in calendar select for day -->
  <input type="text" name="name" ng-model="calendar.start" placeholder="Start yyyy-MM-dd"value="">
  <input type="text" name="name" ng-model="calendar.end" placeholder="End yyyy-MM-dd"value="">
<label for="timeStartHour">Start Time</label>
  <select ng-model="calendar.timeStartHour" name="timeStartHour" value="">
    <option value="07">7 am</option>
    <option value="08">8 am</option>
    <option value="09">9 am</option>
    <option value="10">10 am</option>
    <option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select>
  <select ng-model="calendar.timeStartMin" name="timeStartMin" value="">
    <option value="00">0</option>

    <option value="10">10</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="50">50</option>
  </select>
  <label for="timeEndHour">End Time</label>

  <select ng-model="calendar.timeEndHour" name="timeEndHour" value="">
    <option value="07">7 am</option>
    <option value="08">8 am</option>
    <option value="09">9 am</option>
    <option value="10">10 am</option>
    <option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select>
  <select ng-model="calendar.timeEndMin" name="timeEndMin" value="">
    <option value="00">0</option>

    <option value="10">10</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="50">50</option>
  </select>

<br>
<br>
<label for="typeSelect">Select Type</label>
<select class="" ng-model="calendar.selectData" placeholder="Select Type" id="typeSelect"name="typeSelect">
<optgroup label="Cardio" value="Cardio">
  <option value="Running">Running</option>
  <option value="Swimming">Swimming</option>
  <option value="Biking">Biking</option>
  <option value="Other">Other</option>
</optgroup>
<optgroup label="Strength" value="Strength">
  <option value="Upper Body">Upper Body</option>
  <option value="Lower Body">Lower Body</option>
  <option value="Core">Core</option>
  <option value="Other">Other</option>
</optgroup>
<optgroup label="Dynamic/Combination" value="Dynamic/Combination">
  <option value="Yoga">Yoga</option>
  <option value="Aerobic">Aerobic</option>
  <option value="Fitness Class">Fitness Class</option>
  <option value="Other">Other</option>
</optgroup>
  </select>
  <input type="box" name="name" ng-model="calendar.notes" placeholder="Notes"value="">
<br>
<br>
<label for="typeSelect2">Select Another</label>

<select class="" ng-model="calendar.selectData2" placeholder="Select Another" id="typeSelect2" name="typeSelect2">
<optgroup label="Cardio" value="Cardio">
<option value="Running">Running</option>
<option value="Swimming">Swimming</option>
<option value="Biking">Biking</option>
<option value="Other">Other</option>
</optgroup>
<optgroup label="Strength" value="Strength">
<option value="Upper Body">Upper Body</option>
<option value="Lower Body">Lower Body</option>
<option value="Core">Core</option>
<option value="Other">Other</option>
</optgroup>
<optgroup label="Dynamic/Combination" value="Dynamic/Combination">
<option value="Yoga">Yoga</option>
<option value="Aerobic">Aerobic</option>
<option value="Fitness Class">Fitness Class</option>
<option value="Other">Other</option>
</optgroup>
</select>
<input type="box" name="name2" ng-model="calendar.notes2" placeholder="Notes"value="">
</form>
<br>
<br>
<label for="typeSelect3">Select Another</label>

<select class="" ng-model="calendar.selectData3" placeholder="Select Another" id="typeSelect3" name="typeSelect3">
<optgroup label="Cardio" value="Cardio">
<option value="Running">Running</option>
<option value="Swimming">Swimming</option>
<option value="Biking">Biking</option>
<option value="Other">Other</option>
</optgroup>
<optgroup label="Strength" value="Strength">
<option value="Upper Body">Upper Body</option>
<option value="Lower Body">Lower Body</option>
<option value="Core">Core</option>
<option value="Other">Other</option>
</optgroup>
<optgroup label="Dynamic/Combination" value="Dynamic/Combination">
<option value="Yoga">Yoga</option>
<option value="Aerobic">Aerobic</option>
<option value="Fitness Class">Fitness Class</option>
<option value="Other">Other</option>
</optgroup>
</select>
<input type="box" name="name3" ng-model="calendar.notes3" placeholder="Notes"value="">
</form>


    </form>
<br>
<br>
<br>
<a href="mailto:9526883182@tmomail.net?Subject=Workout%20Reminder">Send a Reminder!</a>
    <div class="savebtn1">

         <button class="btn1" ng-click="calendar.add()">--save</button>
    </div>
</modal-dialog>

<!-- //schedule adder modal -->
<!-- <button ng-click='toggleModal2()'>Add Schedule</button> -->
<modal-dialog show='modalShown2' width='750px' height='70%'>
  <header class="header">
<h2>Add New Schedule<h2>
</header>
<form class="" action="index.html" method="post">



<input type="text" name="name" ng-model="calendar.start" placeholder="Start yyyy-MM-dd"value="">
<input type="text" name="name" ng-model="calendar.end" placeholder="End yyyy-MM-dd"value="">
<label for="timeStartHour">Start Time</label>
  <select ng-model="calendar.timeStartHour" name="timeStartHour" value="">
    <option value="07">7 am</option>
    <option value="08">8 am</option>
    <option value="09">9 am</option>
    <option value="10">10 am</option>
    <option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select>
  <select ng-model="calendar.timeStartMin" name="timeStartMin" value="">
    <option value="00">0</option>

    <option value="10">10</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="50">50</option>
  </select>
  <label for="timeEndHour">End Time</label>

  <select ng-model="calendar.timeEndHour" name="timeEndHour" value="">
    <option value="07">7 am</option>
    <option value="08">8 am</option>
    <option value="09">9 am</option>
    <option value="10">10 am</option>
    <option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select>
  <select ng-model="calendar.timeEndMin" name="timeEndMin" value="">
    <option value="00">0</option>

    <option value="10">10</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="50">50</option>
  </select>
  <br>
  <br>
  <label for="typeSelect">Select Type</label>
  <select ng-model="calendar.selectData" placeholder="Select" id="typeSelect" name="typeSelect">
    <option value="Work">Work</option>
    <option value="Study">Study</option>
    <option value="Social">Social</option>
    <option value="Other">Other</option>
  </select>
  <input type="text" name="notes" ng-model="calendar.notes" placeholder="notes" value="">
<br>
<br>
<br>
  <div class="savebtn2">

       <button class="btn2" ng-click="calendar.add()">--save</button>
  </div>
</modal-dialog>

</div>
<daypilot-calendar ng-click="showTabDialog($event)" id="dp" config="config" events="events" >Calender here</daypilot-calendar>
<!-- <div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak> -->
<!-- New event: -->
<!-- <button ng-click="add()">Add</button>
<md-button class="md-primary md-raised" ng-click="showTabDialog($event)" >
Tab Dialog
</md-button>
</div> -->
<div class="space">
  <div class="slogan">
    <h4>GitFit and BashFat!</h4>
  </div>
</div>
    </div>
<!-- <div>
      First event:
      <button ng-click="calendar.move()">Move</button>
      <button ng-click="calendar.rename()">Rename</button>
  </div> -->

  <!-- <div>
      Events array (debug):
      <div ng-repeat="item in events">
          {{item}}
      </div> -->

  </div>
    </div>

  </body>
</html>
